<div>
  <%= image_tag( @podcast.cover , alt: "Cover Image") %>
  <h1><%= @podcast.title %></h1>
  <h2> by <%= @podcast.host %></h2>
  <p><%= sanitize(@podcast.description) %></p>
</div>
<hr>

<h2>Episode List</h2>
<%= paginate @episodes %>
<% @episodes.each do |episode| %>
<hr>
<div class = "episode">
  <%= episode.show_published_at %>
  <br>
  <%= episode.show_audio_length %>
  <h2 class="episode-title" >
    <%= episode.title %>
  </h2>
  <p class="episode-note" >
    <%= sanitize(episode.note) %>
  </p>
</div>
<% end %>
<%= paginate @episodes %>