<div>
  <%= image_tag( @podcast.cover , alt: "Cover Image") %>
  <h1><%= @podcast.title %></h1>
  <h2> by <%= @podcast.host %></h2>
  <p><%= sanitize(@podcast.description) %></p>
</div>
<hr>
<%= render 'episodes/list' %>